<div class="sidebar">
  <div class="welcome-container">
    <h3>Welcome!</h3>
    <p>Hello and welcome to Giddy Gourmand. We are a group of friends who absolutely love cooking and baking new recipes. Here you will find compiled lists of our favorites found around the food blogosphere. <a href="/contact">If you have any questions or inquiries, don't hesitate to get in touch!</a></p>
  </div>

  <div class="social-container">
    <h3>Get Social With Us!</h3>
    <ul class="list-inline social-icons">
      <a href="https://www.pinterest.com/giddygourmand" target="_blank">
        <img src="{{ site.s3_url }}/assets/pinterest-icon-64.png" alt="Giddy Gourmand on Pinterest" />
      </a>
      <a href="https://www.facebook.com/Giddy-Gourmand-896355583830994/" target="_blank">
        <img src="{{ site.s3_url }}/assets/facebook-icon-64.png" alt="Giddy Gourmand on Facebook" />
      </a>
    </ul>
  </div>

  <div class="social-container pinterest-widget">
    <a data-pin-do="embedUser" data-pin-board-width="240" data-pin-scale-height="250" data-pin-scale-width="120" href="https://www.pinterest.com/giddygourmand/"></a>
  </div>

  {% if page.layout != "default" %}
    <div class="recent-posts-container">
      <h3>Fresh Out The Oven!</h3>
      {% for post in site.posts limit:5 %}
        <div class="post-nav">
          <a href="{{ post.url | prepend:site.baseurl }}">
            <img class="post-thumbnail" src="{{ site.s3_url }}{{ site.s3_thumbnail_folder }}{{ post.thumbnail_url }}" alt="{{ post.title }}" />
          </a>
          <h2 class="post-title-link"><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a></h2>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
