body {
  background-color: $background-color;
}

h1 {
  font-family: $font-family-base;
  font-weight: bold;
  font-size: $font-size-h1;
  color: $main-text-color;
  line-height: 140%;
}

h2 {
  font-family: $font-family-base;
  font-size: $font-size-h2;
  color: $main-text-color;
  line-height: 140%;
}

h3 {
  font-family: $font-family-base;
  font-size: $font-size-h3;
  color: $main-text-color;
  line-height: 140%;
}

p {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $main-text-color;
}

a {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $main-text-color;
  text-decoration: underline;
}

#hero-container {
  height: 100vh;
  position: relative;

  .hero-text {
    width: 55%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
  }

  h1 {
    margin-top: 0;
  }

  h2:last-child {
    margin-bottom: 0;
  }

  span {
    background-color: $main-text-color;
    color: $background-color;
    padding: 0 0.35rem;
  }
}

#work-container {
  padding: 12rem 0;

  h2 {
    text-align: center;
    margin: 10rem 0;
  }

  h3 {
    margin-top: 0;
  }

  .single-work-example {
    margin-bottom: 10rem;
  }

  img {
    width: 100%;
  }
}
