body {
  background-color: $background-color;
  height: 6660px;
  margin: 0;
}

h1 {
  font-family: $font-family-base;
  font-weight: bold;
  font-size: $font-size-h1;
  color: $main-text-color;
  line-height: 140%;
}

h2 {
  font-family: $font-family-base;
  font-size: $font-size-h2;
  color: $main-text-color;
  line-height: 140%;
}

h3 {
  font-family: $font-family-base;
  font-size: $font-size-h3;
  color: $main-text-color;
  line-height: 140%;
}

p {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $main-text-color;
}

a {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $main-text-color;
  text-decoration: underline;
}

#fixed-container {
  width: 100%;
  height: 100vh;
  position: fixed;
}

#fixed-container .hero-text {
  width: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  transition: opacity 300ms;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  h1 {
    margin-top: 0;
    opacity: 0;
    transition: opacity 600ms;
  }

  h2 {
    opacity: 0;
    transition: opacity 600ms;
  }

  h2:last-child {
    margin-bottom: 0;
  }

  h1.show, h2.show {
    opacity: 1;
  }

  span {
    background-color: $main-text-color;
    color: $background-color;
    padding: 0 0.35rem;
  }
}

#fixed-container .work-introduction {
  width: 50%;
  opacity: 0;
  margin: 0 auto;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  transition: opacity 300ms;

  h2 {
    text-align: center;
  }

  &.show {
    opacity: 1;
    pointer-events: auto
  }
}

#fixed-container .single-work-example {
  width: 40%;
  opacity: 0;
  margin: 0 auto;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  transition: opacity 300ms;

  h3 {
    margin-top: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}

#fixed-container .links-and-contact {
  width: 60%;
  text-align: center;
  opacity: 0;
  margin: 0 auto;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  transition: opacity 300ms;

  a {
    font-family: $font-family-base;
    font-size: $font-size-h2;
    color: $main-text-color;
    line-height: 140%;
  }

  h2:first-child {
    margin-top: 0
  }

  h2:last-child {
    margin-bottom: 0
  }

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}

@media #{$small-and-down} {
  h1 {
    font-size: $font-size-h1-small-screen;
  }

  h2 {
    font-size: $font-size-h2-small-screen;
  }

  h3 {
    font-size: $font-size-h3-small-screen;
  }

  #fixed-container .hero-text,
  #fixed-container .work-introduction,
  #fixed-container .single-work-example,
  #fixed-container .links-and-contact {
    width: 90%;
  }

  #fixed-container .links-and-contact {
    a {
      font-size: $font-size-h2-small-screen;
    }
  }
}
