$background-color: #2b333a;
$main-text-color: #fae8da;

$font-family-base: "Fauna One", Georgia, serif;
$headings-font-family: "Fauna One", Georgia, serif;

$font-size-base: 1.1rem;
$font-size-h1: 2.56rem;
$font-size-h2: 2rem;
$font-size-h3: 2rem;

$font-size-h1-small-screen: 1.8rem;
$font-size-h2-small-screen: 1.36rem;
$font-size-h3-small-screen: 1.36rem;

@import "materialize";
@import "custom-scss";
